.Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Box-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
